.Coworker {
  overflow: hidden;
}

.coworkerProgram {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 500px;
  background-color: #fff;
  border-left: 1px solid #e4e4e4;
  border-radius: 15px;
}

.header {
  height: 35px;
  background-color: var(--seolyu-portfolio-pink);
}

.contents {
  height: 100%;
  display: flex;
}

.sidebar {
  width: 20%;
  height: 100%;
  background-color: var(--seolyu-portfolio-light-pink);
  color: var(--seolyu-portfolio-white);
  padding: 15px;
  box-sizing: border-box;
}

.content {
  position: relative;
  width: 80%;
  height: 100%;
  background-color: var(--seolyu-portfolio-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.profileCard {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid var(--seolyu-portfolio-gray);
}

.profile {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  border-radius: 15%;
}

.circle {
  position: absolute;
  bottom: -2px;
  right: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid var(--seolyu-portfolio-skyblue);
  background-color: var(--seolyu-portfolio-white);
}

.filled {
  background-color: var(--seolyu-portfolio-skyblue);
}

.name {
  padding-left: 10px;
}

.coworkerComment {
  margin: 20px;
  overflow: auto;
  height: 48%;
}

.coworkerComment::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.coworkerComment::-webkit-scrollbar-thumb {
  background-color: var(--seolyu-portfolio-light-pink);
  border-radius: 10px;
}

.profileCardBelow {
  display: flex;
}

.nameComment {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 0.75rem;
  padding-left: 10px;
  padding-top: 5px;
}

.nameText {
  font-weight: 600;
  padding-left: 5px;
}

.commentText {
  padding-left: 5px;
  text-align: left;
}

.reaction {
  margin-top: 10px;
  width: 65px;
  height: 40px;
  border: 2px solid var(--seolyu-portfolio-skyblue);
  border-radius: 25px;
  background-color: var(--seolyu-portfolio-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reactionEmoji {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  object-fit: contain;
}

.reactionNum {
  color: var(--seolyu-portfolio-skyblue);
  font-size: 0.9rem;
}

.sendMessage {
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 25%;
  position: absolute;
  bottom: 15px;
  border-radius: 10px;
  border: 1px solid var(--seolyu-portfolio-gray);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: left;
  font-size: 0.75rem;
}

.sendMessageHeader {
  height: calc(100% / 3);
  background-color: var(--seolyu-portfolio-light-gray);
}

.sendMessageComment {
  height: calc(100% - calc(100% / 3));
  overflow: auto;
  padding: 20px;
}

.sendMessageComment::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.sendMessageComment::-webkit-scrollbar-thumb {
  background-color: var(--seolyu-portfolio-light-pink);
  border-radius: 10px;
}

.sendBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 25px;
}

.defaultComment {
  padding: 10px;
}