.Project {
  overflow: hidden;
  color: red;
}

.projectProgram {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 500px;
  background-color: #fff;
  border-left: 1px solid #e4e4e4;
  border-radius: 15px;
}

.header {
  height: 35px;
  background-color: var(--seolyu-portfolio-vscodeHeader);
}

.contents {
  height: 100%;
  display: flex;
}

.sidebar {
  width: 20%;
  height: 100%;
  background-color: var(--seolyu-portfolio-vscodeSidebar);
  color: var(--seolyu-portfolio-vscodeTextPJTColor);
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--seolyu-portfolio-vscodeHeader);
  border-radius: 10px;
}

.content {
  position: relative;
  width: 80%;
  height: 100%;
  background-color: var(--seolyu-portfolio-vscodeCodeEditor);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.selectedProject,
.defaultProject {
  padding: 10px;
}