.coworkerList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.coworker {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

.profile {
  position: relative;
  width: 50;
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  border-radius: 15%;
}

.circle {
  position: absolute;
  bottom: -2px;
  right: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid var(--seolyu-portfolio-white);
  background-color: var(--seolyu-portfolio-light-pink);
}

.filled {
  background-color: var(--seolyu-portfolio-skyblue);
}

.name {
  padding-left: 10px;
}